@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                @Html.ActionLink(User.Identity.GetUserName(), "Index", "Order", routeValues: null, htmlAttributes: new { @class = "nav-link text-dark" })
            </li>
            <li class="nav-item"><a class="nav-link text-dark" href="javascript:document.getElementById('logoutForm').submit()">تسجيل خروج</a></li>
        </ul>
    }
}
else
{
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">@Html.ActionLink("تسجيل جديد", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link text-dark" })</li>
        <li class="nav-item">@Html.ActionLink("دخول", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link text-dark" })</li>
    </ul>
}
